:root {
  /*color*/
  --header-color: #2e2f42;
  --text-color: #434455;
  --logo-color: #4d5ae5;
  --portfolio-bt-color: #f4f4fd;
}

/*base styles*/
h1 h2 h3 h4 h5 h6 {
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #ffffff;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

/*header*/
.menu {
  display: flex;
}

.logo {
  color: var(--logo-color);
}
.nav-link a {
  color: var(--header-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}
.nav-link :hover,
.nav-link :focus {
  color: #404bbf;
}
.address-link a {
  color: var(--header-color);
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}
.address-link :hover,
.address-link :focus {
  color: #404bbf;
}

.logo-link {
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  font-weight: 800;
}

/*main*/
.hero {
  background-color: var(--header-color);
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 50);
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  background-color: var(--logo-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.button :hover,
:focus {
  background-color: #404bbf;
}
.text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.main-tittle {
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--header-color);
}

/*footer*/
.footer {
  background-color: #2e2f42;
}
.footer-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-link {
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  font-weight: 800;
  color: #f4f4fd;
  text-decoration: none;
}
.portfolio-button {
  cursor: pointer;
  background-color: var(--portfolio-bt-color);
  color: var(--logo-color);
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}
.portfolio-button :hover {
  background-color: #4d5ae5;
  color: var(--portfolio-bt-color);
}

.bt-name {
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--logo-color);
}
